<script>
	import Create from "./pages/Create.svelte";
	import Run from "./pages/Run.svelte";

	let styles = ["", "active"];

	const makeActive = (index) => (_, i) => i === index ? "active" : "";

	function activate(index) {
		styles = styles.map(makeActive(index));
	}
</script>

<div class="page">
	<div class="headers">
		<div class="header {styles[0]}" on:click={() => activate(0)}>
			Create
		</div>
		<div class="header {styles[1]}" on:click={() => activate(1)}>
			Run
		</div>
	</div>
	<div class="tabs">
		<div class="tab {styles[0]}"><Create /></div>
		<div class="tab {styles[1]}"><Run /></div>
	</div>
</div>

<style>
	.tabs {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.tab {
		display: none;
	}

	.tab.active {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
	}

	.header {
		font-size: 1.2em;
		border-bottom: 1px solid gray;
		width: 100%;
		text-align: center;
		margin-bottom: 4px;
		cursor: pointer;
	}

	.header.active {
		border-bottom: 2px solid darkblue;
	}

	.headers {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
</style>
