<script>
    import Checkbox from "./Checkbox.svelte";

    export let testCase;
    export let onToggled;
</script>

<div class="container">
    <Checkbox {onToggled} />
    <div>
        <div class="test-case-title">{testCase.title}</div>
        <div class="test-case-tags">
            {#each testCase.tags as tag}
                <div class="test-case-tag">{tag}</div>
            {/each}
        </div>
        <div class="test-case-aux">
            <div>{testCase.steps.length || "no"} test steps</div>
            <div>
                {testCase.testData.length || "no"} test data entries
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .test-case-tags {
        display: flex;
        flex-direction: row;
    }

    .test-case-tag {
        background: #ccc;
        border-radius: 6px;
        font-size: 0.7em;
        margin-left: 4px;
        height: min-content;
        padding-left: 4px;
        padding-right: 4px;
    }

    .test-case-aux {
        display: flex;
        flex-direction: row;
    }

    .test-case-aux > * {
        border-right: 1px solid black;
        padding-right: 4px;
        margin-left: 4px;
    }

    .test-case-aux > *:last-child {
        border-right: 0;
        padding-right: 0;
    }

    .test-case-aux > *:first-child {
        margin-left: 0;
    }
</style>
