<script>
    export let checked = false;
    export let onToggled;

    function toggleState() {
        checked = !checked;
        onToggled && onToggled(checked);
    }
</script>

<div on:click={toggleState} class="component">
    {#if checked}
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            width="24"
            height="24"
            viewBox="0 0 120 120"
            xml:space="preserve"
        >
            <g
                transform="matrix(1 0 0 1 60 60)"
                id="ef8f4f8b-3e82-464c-89e0-62ebbfb4829c"
            >
                <rect
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke"
                    x="-60"
                    y="-60"
                    rx="0"
                    ry="0"
                    width="120"
                    height="120"
                />
            </g>
            <g
                transform="matrix(Infinity NaN NaN Infinity 0 0)"
                id="2e1eb9b9-8ee4-4725-aa8d-c1c086b93a39"
            />
            <g
                transform="matrix(1.04 0 0 1.04 60 60)"
                id="c49a7e21-7e97-4a20-a8fc-c38cb7647e5f"
            >
                <path
                    style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(101,101,101); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke"
                    transform=" translate(-50, -50)"
                    d="M 50 92.875 C 26.358 92.875 7.125 73.642 7.125 50 C 7.125 26.358000000000004 26.358 7.125 50 7.125 C 73.642 7.125 92.875 26.358 92.875 50 C 92.875 73.642 73.642 92.875 50 92.875 z M 50 9.125 C 27.461 9.125 9.125 27.461 9.125 50 C 9.125 72.538 27.461 90.875 50 90.875 C 72.538 90.875 90.875 72.538 90.875 50 C 90.875 27.461 72.538 9.125 50 9.125 z"
                    stroke-linecap="round"
                />
            </g>
            <g
                transform="matrix(0.64 0 0 0.64 60 60)"
                id="40918d16-cebb-4015-b330-9066ff019bf4"
            >
                <path
                    style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(101,101,101); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke"
                    transform=" translate(-50, -50)"
                    d="M 14.148 44.105 L 18.091 40.162 C 20.01 38.242 23.176000000000002 38.242 25.096 40.162 L 42.164 57.230999999999995 L 74.904 24.440999999999995 C 76.823 22.521999999999995 79.98899999999999 22.521999999999995 81.90899999999999 24.440999999999995 L 85.851 28.383999999999997 C 87.771 30.302999999999997 87.771 33.415 85.851 35.334999999999994 L 45.641 75.54499999999999 L 45.537 75.64899999999999 L 45.433 75.75299999999999 L 45.329 75.80499999999999 L 45.277 75.90899999999999 L 45.173 75.961 L 45.069 76.065 L 44.965 76.117 L 44.861000000000004 76.16900000000001 L 44.757000000000005 76.27400000000002 L 44.653000000000006 76.32400000000001 L 44.54900000000001 76.37800000000001 L 44.44500000000001 76.43000000000002 L 44.34100000000001 76.48200000000003 L 44.23700000000001 76.53400000000003 L 44.08000000000001 76.58600000000004 L 43.97600000000001 76.63800000000005 L 43.872000000000014 76.69000000000005 L 43.768000000000015 76.74200000000006 L 43.664000000000016 76.74200000000006 L 43.56000000000002 76.79400000000007 L 43.405000000000015 76.84700000000007 L 43.301000000000016 76.84700000000007 L 43.19700000000002 76.89900000000007 L 42.93800000000002 76.89900000000007 L 42.83400000000002 76.95100000000008 L 42.62600000000002 76.95100000000008 L 42.47100000000002 77.00300000000009 L 41.795000000000016 77.00300000000009 L 41.640000000000015 76.95100000000008 L 41.432000000000016 76.95100000000008 L 41.32800000000002 76.89900000000007 L 41.06900000000002 76.89900000000007 L 40.96500000000002 76.84700000000007 L 40.86100000000002 76.84700000000007 L 40.70600000000002 76.79400000000007 L 40.60200000000002 76.74200000000006 L 40.49800000000002 76.74200000000006 L 40.39400000000002 76.69000000000005 L 40.29000000000002 76.63800000000005 L 40.185000000000024 76.58600000000004 L 40.081000000000024 76.53400000000003 L 40.029000000000025 76.53400000000003 C 39.563000000000024 76.32500000000003 39.096000000000025 75.96200000000003 38.630000000000024 75.54800000000003 L 14.140000000000025 51.059000000000026 C 12.229 49.137 12.229 46.025 14.148 44.105 z"
                    stroke-linecap="round"
                />
            </g>
        </svg>
    {:else}
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            width="24"
            height="24"
            viewBox="0 0 120 120"
            xml:space="preserve"
        >
            <rect x="0" y="0" width="100%" height="100%" fill="transparent" />
            <g
                transform="matrix(1 0 0 1 60 60)"
                id="ef8f4f8b-3e82-464c-89e0-62ebbfb4829c"
            >
                <rect
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke"
                    x="-60"
                    y="-60"
                    rx="0"
                    ry="0"
                    width="120"
                    height="120"
                />
            </g>
            <g
                transform="matrix(Infinity NaN NaN Infinity 0 0)"
                id="2e1eb9b9-8ee4-4725-aa8d-c1c086b93a39"
            />
            <g
                transform="matrix(1.04 0 0 1.04 60 60)"
                id="c49a7e21-7e97-4a20-a8fc-c38cb7647e5f"
            >
                <path
                    style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(101,101,101); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke"
                    transform=" translate(-50, -50)"
                    d="M 50 92.875 C 26.358 92.875 7.125 73.642 7.125 50 C 7.125 26.358000000000004 26.358 7.125 50 7.125 C 73.642 7.125 92.875 26.358 92.875 50 C 92.875 73.642 73.642 92.875 50 92.875 z M 50 9.125 C 27.461 9.125 9.125 27.461 9.125 50 C 9.125 72.538 27.461 90.875 50 90.875 C 72.538 90.875 90.875 72.538 90.875 50 C 90.875 27.461 72.538 9.125 50 9.125 z"
                    stroke-linecap="round"
                />
            </g>
        </svg>
    {/if}
</div>

<style>
    .component {
        cursor: pointer;
    }
</style>
