<script>
    export let label = "";
    export let name = "";
    export let type = "text";
    export let placeholder = "";
</script>

<div class="inputs">
    <label for={name}>{label}</label>
    <input {name} {type} {placeholder} />
</div>

<style>
    .inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 4px;
        margin-right: 4px;
    }

    .inputs > input {
        width: 100%;
    }
</style>
