<script>
    import List from "./panes/List.svelte";
    import Execute from "./panes/Execute.svelte";

    let currentPane = 0;
    let cycle = [];

    function moveLeft() {
        if (currentPane >= 1) return;

        currentPane = currentPane + 1;
    }

    function moveRight() {
        if (currentPane < 1) return;

        currentPane = currentPane - 1;
    }

    function runCycle(e) {
        cycle = e;
        moveLeft();
    }
</script>

<div class="panes">
    <div
        class="pane"
        class:active={currentPane === 0}
        class:hidden={currentPane !== 0}
    >
        <List onRunRequested={runCycle} />
    </div>
    <div
        class="pane"
        class:active={currentPane === 1}
        class:hidden={currentPane !== 1}
    >
        <Execute {cycle} on:finished={moveRight} />
    </div>
</div>

<style>
    .panes {
    }
    .pane {
        position: relative;
        top: 0;
        height: 100%;
        width: inherit;
        left: 0;
    }
    .active {
        display: block;
    }
    .hidden {
        display: none;
    }
</style>
