<script>
    export let cycle = [];

    import { createEventDispatcher } from "svelte";
    import api from "../../services/api";
    import { onkeyevent } from '../../services/util';
    import Input from '../../components/Input.svelte';

    const dispatch = createEventDispatcher();

    let expandedCases = [];
    let currentCase = 0;
    let currentStep = 0;

    let passed = [];
    let failed = [];
    let blocked = [];

    function expandCases() {
        expandedCases = cycle
            .map((tc) =>
                tc.testData.map((td) => ({
                    id: tc.id,
                    title: tc.title,
                    data: td,
                    steps: tc.steps,
                    precondition: tc.precondition,
                }))
            )
            .reduce((agg, c) => agg.concat(c), []);
        return expandedCases;
    }

    const setStepResult = (res) => () => {
        const targetCase = expandedCases[currentCase];
        const caseId = targetCase.id;
        const stepId = targetCase.steps[currentStep].id;

        api.create
            .caseRun(caseId, stepId, res)
            .then((_) =>
                (res === 1 ? passed : res === 2 ? blocked : failed).push(
                    `${caseId}.${stepId}`
                )
            );

        if (currentStep + 1 < targetCase.steps.length) {
            currentStep = currentStep + 1;
        } else if (currentCase + 1 < expandedCases.length) {
            currentStep = 0;
            currentCase = currentCase + 1;
        } else finish();
    };

    function finish() {
        dispatch("finished");
    }
</script>

<div>
    <div class="btn top-left" on:click={finish} on:keyup={onkeyevent(finish)}>&lt; Back</div>
    {#if cycle.length}
    <Input label="Commit hash" name="commitSha" placeholder="12345678"/>
        {#each expandCases() as testCase, i}
            <div class:selected={i === currentCase} class="test-case">
                <div class="tc-title">{testCase.title}</div>
                <div class="tc-data">{testCase.data}</div>
                <div class="tc-precond">Given {testCase.precondition}</div>
                {#each testCase.steps as step, j}
                    <div
                        class:selected={j === currentStep}
                        class="tc-step"
                        class:passed={passed.some(
                            (x) => x == `${testCase.id}.${step.id}`
                        )}
                        class:blocked={blocked.some(
                            (x) => x == `${testCase.id}.${step.id}`
                        )}
                        class:failed={failed.some(
                            (x) => x == `${testCase.id}.${step.id}`
                        )}
                    >
                        <div class="tc-sprecond">When {step.precondition}</div>
                        <div class="tc-spostcond">
                            Then {step.postcondition}
                        </div>
                    </div>
                {/each}
            </div>
        {/each}
        <div class="cycle">
            <div class="controls">
                <div on:click={setStepResult(1)} on:keyup={onkeyevent(setStepResult(1))} class="btn pass">Passed</div>
                <div on:click={setStepResult(2)} on:keyup={onkeyevent(setStepResult(2))} class="btn block">Blocked</div>
                <div on:click={setStepResult(3)} on:keyup={onkeyevent(setStepResult(3))} class="btn fail">Failed</div>
            </div>
        </div>
    {:else}
        <div>Cycle is empty</div>
    {/if}
</div>

<style>
    .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .controls > .btn {
        flex-grow: 1;
    }
    .btn {
        padding: 4px 8px 4px 8px;
        text-align: center;
        cursor: pointer;
    }
    .btn.pass {
        background-color: green;
    }
    .btn.block {
        background-color: yellow;
    }
    .btn.fail {
        background-color: red;
    }
    .top-left {
        position: relative;
        top: 4px;
        left: -4px;
        text-align: start;
    }
    .test-case {
        padding: 2px;
    }
    .test-case.selected {
        border: 2px solid blue;
        border-radius: 6px;
    }
    .tc-data {
        background-color: gray;
        font-family: monospace;
    }
    .tc-step.selected {
        border: 1px solid green;
        border-left: 3px solid gray;
    }
    .tc-step {
        border: 1px solid black;
        border-left: 3px solid gray;
    }
    .tc-step.passed {
        border: 1px solid black;
        border-left: 3px solid green;
    }
    .tc-step.blocked {
        border: 1px solid black;
        border-left: 3px solid yellow;
    }
    .tc-step.failed {
        border: 1px solid black;
        border-left: 3px solid red;
    }
</style>
