<script>
    export let onRunRequested;

    import Input from "../../components/Input.svelte";
    import Loading from "../../components/Loading.svelte";
    import api from "../../services/api";
    import Case from "../../components/Case.svelte";

    let selected = {};
    let cases = [];

    let promise = api.get
        .cases()
        .then((x) => x.text())
        .then(JSON.parse)
        .then((x) => {
            cases = x;
            return x;
        });

    const handleSelect = (ix) => (e) => {
        selected[ix] = e;
    };

    function runCycle() {
        const cycle = Object.keys(selected)
            .filter((k) => selected[k])
            .map((k) => cases[k]);
        if (!cycle.length) return;
        onRunRequested && onRunRequested(cycle);
    }
</script>

<Input label="Search" placeholder="search request" name="searchRequest" />
<div class="cases-list">
    {#await promise}
        <Loading />
    {:then cases}
        {#each cases as cs, i}
            <Case testCase={cs} onToggled={handleSelect(i)} />
        {/each}
        <div
            class="btn"
            class:active="{Object.keys(selected).some((k) => selected[k])}"
            on:click={runCycle}
        >
            Run cycle
        </div>
    {:catch}
        <div>
            Failed to load cases. Did you set server URL and API key in
            settings?
        </div>
    {/await}
</div>

<style>
    .btn {
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 0;
        cursor: pointer;
        background: gray;
    }

    .active {
        background: green;
    }
</style>
